<?xml version="1.0" encoding="utf-8"?>
<AddinSystemConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Repositories>
    <Repository id="rep34">
      <IsReference>false</IsReference>
      <File>/Users/luka/Library/Preferences/VisualStudio/8.0/repository-cache/addins.monodevelop.com_34.mrep</File>
      <Url>https://addins.monodevelop.com/Stable/Mac/8.3/main.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>Visual Studio Extension Repository</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep35">
      <IsReference>false</IsReference>
      <File>/Users/luka/Library/Preferences/VisualStudio/8.0/repository-cache/addins.monodevelop.com_35.mrep</File>
      <Url>https://addins.monodevelop.com/Beta/Mac/8.3/main.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>Visual Studio Extension Repository (Beta channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep36">
      <IsReference>false</IsReference>
      <File>/Users/luka/Library/Preferences/VisualStudio/8.0/repository-cache/addins.monodevelop.com_36.mrep</File>
      <Url>https://addins.monodevelop.com/Alpha/Mac/8.3/main.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>Visual Studio Extension Repository (Alpha channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
      <Enabled>false</Enabled>
    </Repository>
    <Repository id="rep37">
      <IsReference>true</IsReference>
      <File>/Users/luka/Library/Preferences/VisualStudio/8.0/repository-cache/addins.monodevelop.com_37.mrep</File>
      <Url>https://addins.monodevelop.com/Stable/Mac/8.3/root.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>2019-10-01T09:41:35</LastModified>
    </Repository>
    <Repository id="rep38">
      <IsReference>true</IsReference>
      <File>/Users/luka/Library/Preferences/VisualStudio/8.0/repository-cache/addins.monodevelop.com_38.mrep</File>
      <Url>https://addins.monodevelop.com/Beta/Mac/8.3/root.mrep</Url>
      <ProviderId>MonoAddins</ProviderId>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>2019-10-01T09:41:38</LastModified>
    </Repository>
  </Repositories>
  <RepositoryIdCount>39</RepositoryIdCount>
  <DisabledAddins />
  <AddinPaths />
</AddinSystemConfiguration>