<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressCrash_Adobe Desktop Service_5.0.0_5.0.0.354</key>
	<integer>0</integer>
	<key>lastCrash_luka_Adobe Desktop Service</key>
	<string>-1</string>
	<key>lastCrash_luka_Adobe Desktop Service_5.0.0_5.0.0.354</key>
	<string>-1</string>
	<key>lastCrash_luka_Adobe Desktop Service__</key>
	<string>-1</string>
	<key>lastCrash_luka_Adobe Illustrator</key>
	<string>-1</string>
	<key>lastCrash_luka_Adobe Photoshop CC 2017</key>
	<string>-1</string>
	<key>lastCrash_luka_AdobeIPCBroker_5.6.1.39_vulcan</key>
	<string>-1</string>
	<key>lastCrash_luka_AdobeReader__</key>
	<string>-1</string>
	<key>lastCrash_luka_Core Sync</key>
	<string>-1</string>
	<key>lastCrash_luka_Creative Cloud</key>
	<string>-1</string>
	<key>lastCrash_luka_Creative Cloud__</key>
	<string>-1</string>
</dict>
</plist>
