<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MessagesInFlight</key>
	<dict/>
	<key>MonitorState</key>
	<dict>
		<key>IDSMessageOperation</key>
		<dict>
			<key>ConsecutiveWrites</key>
			<integer>0</integer>
			<key>LastWriteTimestamp</key>
			<date>2018-11-07T09:26:57Z</date>
			<key>Message</key>
			<string>IDSMessageOperation</string>
			<key>MessageQueue</key>
			<array/>
			<key>Penalty</key>
			<integer>0</integer>
			<key>TimeTable</key>
			<dict>
				<key>AFirstMinute</key>
				<dict>
					<key>AFirstMinute</key>
					<date>2018-11-07T09:27:57Z</date>
					<key>TimeSlice</key>
					<string>YES</string>
				</dict>
				<key>BSecondMinute</key>
				<dict>
					<key>BSecondMinute</key>
					<date>2018-11-07T09:28:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
				<key>CThirdMinute</key>
				<dict>
					<key>CThirdMinute</key>
					<date>2018-11-07T09:29:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
				<key>DFourthMinute</key>
				<dict>
					<key>DFourthMinute</key>
					<date>2018-11-07T09:30:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
				<key>EFifthMinute</key>
				<dict>
					<key>EFifthMinute</key>
					<date>2018-11-07T09:31:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<key>MessageToSendKey</key>
		<dict>
			<key>ConsecutiveWrites</key>
			<integer>0</integer>
			<key>LastWriteTimestamp</key>
			<date>2018-11-07T09:26:57Z</date>
			<key>Message</key>
			<string>MessageToSendKey</string>
			<key>MessageQueue</key>
			<array/>
			<key>Penalty</key>
			<integer>0</integer>
			<key>TimeTable</key>
			<dict>
				<key>AFirstMinute</key>
				<dict>
					<key>AFirstMinute</key>
					<date>2018-11-07T09:27:57Z</date>
					<key>TimeSlice</key>
					<string>YES</string>
				</dict>
				<key>BSecondMinute</key>
				<dict>
					<key>BSecondMinute</key>
					<date>2018-11-07T09:28:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
				<key>CThirdMinute</key>
				<dict>
					<key>CThirdMinute</key>
					<date>2018-11-07T09:29:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
				<key>DFourthMinute</key>
				<dict>
					<key>DFourthMinute</key>
					<date>2018-11-07T09:30:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
				<key>EFifthMinute</key>
				<dict>
					<key>EFifthMinute</key>
					<date>2018-11-07T09:31:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<key>RecipientDeviceID</key>
		<dict>
			<key>ConsecutiveWrites</key>
			<integer>0</integer>
			<key>LastWriteTimestamp</key>
			<date>2018-11-07T09:26:57Z</date>
			<key>Message</key>
			<string>RecipientDeviceID</string>
			<key>MessageQueue</key>
			<array/>
			<key>Penalty</key>
			<integer>0</integer>
			<key>TimeTable</key>
			<dict>
				<key>AFirstMinute</key>
				<dict>
					<key>AFirstMinute</key>
					<date>2018-11-07T09:27:57Z</date>
					<key>TimeSlice</key>
					<string>YES</string>
				</dict>
				<key>BSecondMinute</key>
				<dict>
					<key>BSecondMinute</key>
					<date>2018-11-07T09:28:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
				<key>CThirdMinute</key>
				<dict>
					<key>CThirdMinute</key>
					<date>2018-11-07T09:29:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
				<key>DFourthMinute</key>
				<dict>
					<key>DFourthMinute</key>
					<date>2018-11-07T09:30:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
				<key>EFifthMinute</key>
				<dict>
					<key>EFifthMinute</key>
					<date>2018-11-07T09:31:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<key>RecipientPeerID</key>
		<dict>
			<key>ConsecutiveWrites</key>
			<integer>0</integer>
			<key>LastWriteTimestamp</key>
			<date>2018-11-07T09:26:57Z</date>
			<key>Message</key>
			<string>RecipientPeerID</string>
			<key>MessageQueue</key>
			<array/>
			<key>Penalty</key>
			<integer>0</integer>
			<key>TimeTable</key>
			<dict>
				<key>AFirstMinute</key>
				<dict>
					<key>AFirstMinute</key>
					<date>2018-11-07T09:27:57Z</date>
					<key>TimeSlice</key>
					<string>YES</string>
				</dict>
				<key>BSecondMinute</key>
				<dict>
					<key>BSecondMinute</key>
					<date>2018-11-07T09:28:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
				<key>CThirdMinute</key>
				<dict>
					<key>CThirdMinute</key>
					<date>2018-11-07T09:29:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
				<key>DFourthMinute</key>
				<dict>
					<key>DFourthMinute</key>
					<date>2018-11-07T09:30:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
				<key>EFifthMinute</key>
				<dict>
					<key>EFifthMinute</key>
					<date>2018-11-07T09:31:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<key>UsesAckModel</key>
		<dict>
			<key>ConsecutiveWrites</key>
			<integer>0</integer>
			<key>LastWriteTimestamp</key>
			<date>2018-11-07T09:26:57Z</date>
			<key>Message</key>
			<string>UsesAckModel</string>
			<key>MessageQueue</key>
			<array/>
			<key>Penalty</key>
			<integer>0</integer>
			<key>TimeTable</key>
			<dict>
				<key>AFirstMinute</key>
				<dict>
					<key>AFirstMinute</key>
					<date>2018-11-07T09:27:57Z</date>
					<key>TimeSlice</key>
					<string>YES</string>
				</dict>
				<key>BSecondMinute</key>
				<dict>
					<key>BSecondMinute</key>
					<date>2018-11-07T09:28:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
				<key>CThirdMinute</key>
				<dict>
					<key>CThirdMinute</key>
					<date>2018-11-07T09:29:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
				<key>DFourthMinute</key>
				<dict>
					<key>DFourthMinute</key>
					<date>2018-11-07T09:30:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
				<key>EFifthMinute</key>
				<dict>
					<key>EFifthMinute</key>
					<date>2018-11-07T09:31:57Z</date>
					<key>TimeSlice</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>UnhandledMessages</key>
	<dict/>
</dict>
</plist>
